.page-footer {
  @include wrapper;

  background-color: #ffffff;

  @include tablet {
    display: flex;
  }
}

.page-footer__developper {
  display: flex;
  justify-content: space-between;

  @include tablet {
    justify-content: flex-end;
  }
}
