.travelers-list {
  display: block;
  width: 100%;

  margin: 0;
  margin-top: 50px;
  padding: 0;

  list-style: none;

  @include tablet {
    display: flex;
    justify-content: space-between;
  }
}

.travelers-list__item {
  width: 270px;
  margin-bottom: 10px;

  color: #444444;

  background-color: #ffffff;

  overflow: hidden;
  border-radius: 10px;
}

.travelers-list__name {
  font-size: 21px;

  text-align: center;
  line-height: 21px;
  font-weight: bolder;
  color: #1d2e5b;
}

.travelers-list__interests {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.travelers-list__interests-item {
  display: inline;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.travelers-list__wish-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -18px;
  padding: 0;

  list-style: none;
}

.travelers-list__wish-item {
  margin-right: 19px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #1d2e5b;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }
}

.travelers-list__transport {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}
