@mixin wrapper {
  padding: 27px 25px;

  @include tablet {
    padding: 27px 75px;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
